#green {
  background-color: green;
  color: white;
}
#black {
  background-color: black;
  color: white;
}
#blue {
  background-color: blue;
  color: white;
}
#red {
  background-color: red;
  color: white;
}
#purple {
  background-color: purple;
  color: white;
}

.box {
  width: 100px;
  height: 100px;
}

.carousel {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
