.drag {
  width: 100px;
  height: 100px;
  color: white;
  background-color: black;
}

.target {
  width: 200px;
  height: 200px;
  color: white;
  background-color: blue;
}

.img {
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
}
